<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/circle-progress.js"></script>
    <script src="/js/sweetalert.min.js"></script>
</head>
<body>
    <!-- <div id="full-bg">
        <div id="load-screen">
            <img src="/images/bricks.svg" alt="carregando" height="100" width="100">
        </div>
    </div> -->
    <div id="loader">
        <div class="circle" id="circle-a">
            <strong></strong>
        </div>
    </div>
    <div class="content">
        <header>
            <h1 style="display:block;text-align:center;">Welcome to Auto Compiler!</h1>
        </header>
        
        <div id="filtros">
            <div class="conteudo full">
                <div id="btn-sprint" class="toggle-button col-2">
                    <label class="switch">
                        <input class="checkbox-switch" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <span class="text">Sprint</span>
                </div>
                <div id="btn-trunk" class="toggle-button col-2">
                    <label class="switch">
                        <input class="checkbox-switch" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <span class="text">Trunk</span>
                </div>
                <div id="btn-clear" class="toggle-button col-2">
                    <label class="switch">
                        <input class="checkbox-switch" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <span class="text">Limpar</span>
                </div>
                <input type="text" class="search-box col-5" placeholder="Pesquisar..">
                <div class="buttons col-2">
                    <!-- <input type="submit" class="btn-base" value="Filtrar"> -->
                    <input id="btn-compile" type="submit" class="btn-base compiler" value="Compilar!">
                </div>
            </div>
        </div>

        <div id="table" class="filter">
            <%= pre_save %>
        </div>

        <footer>
            <span>© 2018 Gabriel Felipe. All Rights Reserved.</span>
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
                //$('#full-bg').hide();
                $('#loader').hide();
                str = $('#table').text();
                html = $.parseHTML(str);
                $('#table').html(html);
                var progressBarOptions = {
                    startAngle: -1.55,
                    size: 100,
                    animationStartValue: 0,
                    value: 0,
                    fill: {
                        //color: '#36304a'
                        gradient: ["#211d2f", "#65598c"]
                    }
                }
                $('.circle').circleProgress(progressBarOptions).on('circle-animation-progress', function(event, progress, stepValue) {
                    $(this).find('strong').text(String((stepValue*100).toFixed(0))+'%');
                });

                $("#checkAll").click(function(){
                    $('input:checkbox').not('.checkbox-switch').each(function(index, value) {
                        if($(this).is(':visible')){
                            $(this).prop('checked', !this.checked);
                        }
                    });
                    $(this).prop('checked', !this.checked);
                });

                $('input:checkbox').not('.checkbox-switch').not('#checkAll').click(function(e){
                    if ($('input[type=checkbox]:checked').not('.checkbox-switch').not('#checkAll').length == 1) {
                        $('#checkAll').prop('checked', true);
                    }
                    if ($('input[type=checkbox]:checked').not('.checkbox-switch').not('#checkAll').not(this).length == 0) {
                        $('#checkAll').prop('checked', this.checked);
                    }
                });

                function SearchBarFilter() {
                    var value = $(".search-box").val().toLowerCase();
                    $("#table table tbody tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                }
                
                $(".search-box").on("keyup", function() {
                    SearchBarFilter();
                });

                $('#btn-sprint').click(function () {
                    if ($('#btn-sprint label input').prop('checked')) {
                        if($('#btn-trunk label input').prop('checked')) {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('') > -1)
                            });
                        } else {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('sprint') > -1)
                            });
                        }
                    } else{
                        if (!$('#btn-trunk label input').prop('checked')) {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('sprint') == -1 && $(this).text().toLowerCase().indexOf('trunk') == -1)
                            });
                        } else {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('sprint') == -1)
                            });
                        }
                    }

                    if ( $(".search-box").val().toLowerCase().length > 0 ) {
                        SearchBarFilter();
                    }
                });

                $('#btn-trunk').click(function () {
                    if ($('#btn-trunk label input').prop('checked')) {
                        if($('#btn-sprint label input').prop('checked')) {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('') > -1)
                            });
                        } else {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('trunk') > -1)
                            });
                        }
                    } else{
                        if (!$('#btn-sprint label input').prop('checked')) {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('trunk') == -1 && $(this).text().toLowerCase().indexOf('sprint') == -1)
                            });
                        } else {
                            $("#table table tbody tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf('trunk') == -1)
                            });
                        }
                    }

                    if ( $(".search-box").val().toLowerCase().length > 0 ) {
                        SearchBarFilter();
                    }
                });

                var aDirecotories = [];
                var json = '';
                var currentProgressValue = 0;
                
                function refreshProgress(){
                    setTimeout(function(){
                        fetch('/index/getProgressValue', {
                            method: 'POST',
                            headers: {"Content-Type": "application/json"}
                        }).then(function(progressCircleResponse){
                            if(progressCircleResponse.ok){
                                progressCircleResponse.json().then(function(progressCircleValue) {
                                    //console.log(progressCircleValue.value);
                                    $('.circle').circleProgress({ 
                                        animationStartValue: $('.circle').circleProgress('value'),
                                        value: parseFloat(progressCircleValue.value) 
                                    });
                                    if(parseInt(progressCircleValue.value) != 1){
                                        refreshProgress();
                                    }
                                });
                            }
                        });
                    },100);
                }

                $('#btn-compile').click(function (){
                    //$('#full-bg').show();
                    $('#loader').show();
                    currentProgressValue = 0;
                    $('.circle').circleProgress({value: 0});
                    json = '';
                    $('input[type="checkbox"]:checked').not('.checkbox-switch').not('#checkAll').each(function(index, value){
                        comma = index != $('input[type="checkbox"]:checked').not('.checkbox-switch').not('#checkAll').length -1 ? ',' : '';
                        json += ' "'+index+'": "'+$(this).val().split('\\').join('\\\\')+'" '+comma;
                    });
                    json = '{"strJson": {'+json+'}, "needtoclear": '+$('#btn-clear input[type="checkbox"]').is(':checked')+'}';
                    
                    refreshProgress();
                    fetch('/index/clicked', {
                        method: 'POST',
                        headers: {"Content-Type": "application/json"},
                        body: json
                    })
                    .then(function(response) {
                        //$('#full-bg').hide();
                        if(response.ok) {
                            response.json().then(function(data) {
                                //console.log(typeof data.text);
                                if(data.text.length > 0) {
                                    $('.popup-trace').css({
                                        "width": "",
                                        "height": ""
                                    });
                                    $('.popup-trace .swal-text').css({
                                        "max-height": ""
                                    });
                                    swal({
                                        title: "Alerta!",
                                        text: "Foram encontrados alguns erros!",
                                        icon: "warning",
                                        buttons: {
                                            catch: {
                                                text: "Log de erros",
                                                value: "trace",
                                            },
                                            cancel: "Ignorar"
                                        },
                                    }).then((value) => {
                                        switch (value) {                         
                                            case "trace":
                                                swal({
                                                    title: "Log de erros: ",
                                                    text: data.text,
                                                    icon: "warning",
                                                    className: "popup-trace",
                                                    buttons: {
                                                        viewFullBtn: {
                                                            text: "Aumentar tamanho",
                                                            value: "viewFull",
                                                            closeModal: false
                                                        },
                                                        cancel: "Fechar"
                                                    }
                                                }).then((value) => {
                                                    switch(value){
                                                        case 'viewFull':
                                                            $('#loader').hide();
                                                            $('.popup-trace .swal-button').removeClass('swal-button--loading');
                                                            $('.popup-trace .swal-button--loading~.swal-button__loader').hide();
                                                            $('.popup-trace .swal-button--viewFullBtn').html('Abrir em nova guia');
                                                            $('.popup-trace').css({
                                                                "width": "100%",
                                                                "height": "90%"
                                                            });
                                                            $('.popup-trace .swal-text').css({
                                                                "max-height": "50%"
                                                            });
                                                            $('.popup-trace .swal-button--viewFullBtn').click(function(){
                                                                $('.popup-trace .swal-button').removeClass('swal-button--loading');
                                                                $('.popup-trace .swal-button--loading~.swal-button__loader').hide();
                                                                $('.popup-trace .swal-button--viewFullBtn').html('Abrir em nova guia');
                                                                var w = window.open();
                                                                traceText = data.text.split('|getParentDiv|').join('<div style="margin:10px 0;">');
                                                                traceText = traceText.split('|/getParentDiv|').join('</div>'); 
                                                                traceText = traceText.split('|getDiv|').join('<div>');
                                                                traceText = traceText.split('|/getDiv|').join('</div>'); 
                                                                traceText = traceText.split('|redcolor|').join('<span style="color: #f00">');
                                                                traceText = traceText.split('|/redcolor|').join('</span>');
                                                                traceText = traceText.split('|purplecolor|').join('<span style="font-weight: bold; color: #36304a">');
                                                                traceText = traceText.split('|/purplecolor|').join('</span>');
                                                                w.document.write(traceText);
                                                                w.document.close();
                                                            });
                                                            break;
                                                        case 'cancel':
                                                            $('#loader').hide();
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                });
                                                str = $('.popup-trace .swal-text').text();
                                                traceText = str.split('|getParentDiv|').join('<div style="margin:10px 0;">');
                                                traceText = traceText.split('|/getParentDiv|').join('</div>'); 
                                                traceText = traceText.split('|getDiv|').join('<div>');
                                                traceText = traceText.split('|/getDiv|').join('</div>'); 
                                                traceText = traceText.split('|redcolor|').join('<span style="color: #f00">');
                                                traceText = traceText.split('|/redcolor|').join('</span>');
                                                traceText = traceText.split('|purplecolor|').join('<span style="font-weight: bold; color: #36304a">');
                                                traceText = traceText.split('|/purplecolor|').join('</span>');
                                                traceText = $.parseHTML(traceText);
                                                $('.popup-trace .swal-text').html(traceText);
                                                break;
                                            default:
                                                swal({
                                                    title: "Okay!",
                                                    icon: "/images/sad-face.svg",
                                                    className: "sad-face",
                                                    text: "Mas lembre-se de que os erros não foram corrigidos!",
                                                    buttons: {
                                                    cancel: "Ok"
                                                    }
                                                }).then((value) => {
                                                    $('#loader').hide();
                                                });
                                        }
                                    });
                                } else {
                                    swal({
                                        title: "Muito bem!",
                                        text: "Todos os arquivos foram compilados sem erros!",
                                        icon: "success",
                                        button: "Ok",
                                    }).then((value) => {
                                        $('#loader').hide();
                                    });
                                }
                            });
                            return;
                        } else {
                            //swal("Alerta!", "Foram encontrados os erros a seguir:"+error, "warning");
                            swal({
                                title: "O servidor não respondeu!",
                                text: "Tente novamente mais tarde!",
                                icon: "error",
                                buttons: false,
                            });
                        }
                    })
                    .catch(function(error) {
                        //swal("O servidor não respondeu!", "Tente novamente mais tarde!", "error");
                        swal({
                            title: "Ocorreu um erro!",
                            text: error,
                            icon: "error",
                            buttons: {
                                cancel: "sair"
                            },
                        });
                    });
                    
                });
            });
            
        </script>
</body>
</html>